* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #30ff3b;
}

img.logo {
  height: 10vh;
}

div.main {
  background-color: rgb(255, 255, 255);
  border: #ffffff;
  width: 90vw;
  height: 90vh;
  margin-left: 4vw;
  margin-top: 10vh;
}

p.maintext {
  font-size: 275%;
  display: flex;
  flex-direction: column;
}

img.akomenschenmenge {
  width: 100%;
  margin-top: 2%;
}
button.offenesforum {
  width: 22%;
  height: 5%;
  font-size: 2vw;
}

button.Kollegsgemeinschaft {
  width: 55%;
  height: 5%;
  font-size: 2vw;
}

button.Lernhaus {
  width: 20%;
  height: 5%;
  font-size: 2vw;
}
